*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.keystore
*.jks
*.log
*.hprof
Thumbs.db
/.vscode
/.idea/inspectionProfiles
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/deploymentTargetSelector.xml
/.idea/runConfigurations.xml
